@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
.App,
#root {
  height: 100%;
}

.trello-auth {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(250, 251, 252);
  background-image: url(https://aid-frontend.prod.atl-paas.net/atlassian-id/front-end/5.0.438/static/media/trello-left.7317ad1f.svg),
    url(https://aid-frontend.prod.atl-paas.net/atlassian-id/front-end/5.0.438/static/media/trello-right.16b9c9bb.svg);
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-size: 368px, 368px;
  background-position: left bottom, right bottom;
}

.modal-container {
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.663);
  z-index: 9000;
  height: 70%;
}

.modal-art {
  background: url("https://trello.com/assets/df0d81969c6394b61c0d.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}

.selectedBg {
  position: relative;
}

.selectedBg::after {
  position: absolute;
  color: #fff;
  font-size: 13px;
  display: grid;
  place-items: center;
  content: "✓";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.166);
  top: 0;
  left: 0;
}



@media (max-width: 768px) {
  .trello-auth {
    all: unset;
    background-color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }
}
